@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    background: #C1CDC1;
  }

.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}
.banner {
    height: 154px;
    color: #CD0000;
    text-align: center;
    border-bottom: 2px solid #999999;
    padding-top: 1px;
}
.banner_nav {
    height: 72px;
    color: #CD0000;
    text-align: center;
    padding-top: 1px;

}
.b-heading {
    display: block;
    font-size: 50px;
    line-height: 55px;
    margin-top: 25px;
}
.b-heading_nav {
    display: block;
    font-size: 25px;
    line-height: 28px;
    margin-top: 15px;
}                

.b-subheading_nav {
    display: inline-block;
    font-size: 12px;
}
.b-subheading {
    display: inline-block;
    font-size: 18px;
}

.b-subheading::before, .b-subheading::after {
    content: '';
    display: block;
    width: 238px;
    height: 1px;
    background-color: #C1CDC1;
    margin-top: 5px;
    margin-bottom: 5px;
}



  
body {
    height: auto;
    min-height: 100%;
    position: relative;
    padding-top: 80px; 
    padding-bottom: 45px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url("watermark.svg");
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.leaflet-right .leaflet-control {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    margin-top: 50px;
    margin-right: 18px;
}

.leaflet-tcpd{
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
   font-size: 10px; 
   text-align:center;
   fill: rgb(51, 51, 51); 
   fill-opacity: 1; 
   visibility: inherit; 
   white-space: pre; 
   pointer-events: all;
}


.leaflettitle{
    position:relative;
    text-align: center;
    left:100px;
    top:-65px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 20px; 
    fill: rgb(51, 51, 51); 
    opacity: 1; 
    font-weight: normal; 
    white-space:pre; 
    visibility: inherit;
}


.tcpd-intro {
    padding: 15px 0;
    border-bottom: 1px solid #DADADA;
}


.tcpd-intro-text {
    font-size: 18px;
    display: block;
    text-align: center;
    margin: 10px auto;
    color: #666666;
    padding: 0 10px;
    max-width: 900px;
}


.tcpd-buttons-wrap {
    text-align: center;
    height: 100px;
    margin-top: 20px;
}

.tcpd-button.primary {
    background-color: #CD0000;
    color: #fefefe;

}

.tcpd-button {
    font-size: 18px;
    width: 150px;
    line-height: 40px;
    padding: 0;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    margin: 0 0 1rem 0;
 
}

.tcpd-h3 {
    font-size: 22px;
    width: 100%;
    line-height: 40px;
    color: #000000;
    display: inline;
    padding: 5px;
    text-align: center;
    /* cursor: pointer; */
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    margin: 0 0 1rem 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.075);
}
